.tt-checkbox_validation .ant-form-item {
  margin: unset;
}

.tt-checkbox_group_validation .ant-checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    margin-right: unset;
  }
}
